@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;300;400;600&family=Geist+Mono:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}
:root {
  --primary-color: #3498db; /* Define your color here */
}

.app {
  display: flex; /* Enable Flexbox */
  height: 100vh; /* Full viewport height */
  font-family: sans-serif;

  font-family: "Geist Mono", monospace;
  font-weight: 300;
}

.navBar {
  flex: 0.5;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
}

.main {
  /* margin: 10px; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */

  padding-left: 20px;
  padding-right: 20px;
  flex: 9;
  height: 100vh;

  opacity: 0.9;
}

h2 {
  color: rgb(54, 54, 54);
  padding-top: 10px;
  /* height: 5%; */
  opacity: 0.9;
  font-size: 2rem;
}
