.item-list-all {
  flex: 7.5;
  height: 92.7%;
}
.item-title {
  font-size: 16px;
  border: solid 1px var(--border-d);
  padding: 14px;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: var(--text-l);
}

.floating-cont {
  z-index: 11;
  opacity: 0.4;
  /* height: 68.7%;
  width: 67%; */
  height: 100vh;
  width: 100%;
  border: solid 1px var(--border-d);
  border-radius: 0 0 10px 10px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.floating-cont-box {
  z-index: 12;
  height: 30%;
  width: 30%;
  border-radius: 10px;
  background-color: var(--l-dark);
  color: var(--text-l);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.floating-cont-text {
  font-size: 1.3rem;
  padding-bottom: 40px;
}

.floating-cont-button {
  /* border: solid 1px rgb(173, 173, 173); */
  /* background-color: white; */
  width: 90px;
  font-size: 1rem;
  background-color: var(--m-dark);
  color: var(--text-l);
  border-color: var(--border-d);
}
.bar-buttons {
  /* background-color: red; */
  height: 5%;
  margin-bottom: 20px;
  /* background-color: aquamarine; */
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}

/* might need to be deleted */
/* .bar-buttons-ind {
  background-color: rgb(205, 17, 17);
  color: rgb(233, 0, 0);
  margin: 0 10px;
  border: 1px solid #ccc;
  flex: 1;
  text-align: center;
  border-radius: 10px;
} */

.space-buttons {
  flex: 15;
}

.name {
  flex: 6;
}
.type {
  flex: 4;
  text-align: center;
}
.unit {
  flex: 4;
  text-align: center;
}
.quantity {
  flex: 3;
  text-align: center;
  /* background-color: aqua; */
}
.name-custom {
  flex: 5.2;
}
.unit-custom {
  flex: 3.1;
  text-align: center;
}
.quantity-custom {
  flex: 3.3;
  text-align: center;
}

.quantity-input {
  text-align: center;
  margin: 0;
  height: 18px;
  width: 70px;
}

.item-list {
  height: 84.1%;

  background-color: var(--primary-color);

  border: 1px solid var(--border-d); /* Optional: Add a border */
  border-radius: 0 0 8px 8px; /* Optional: Add rounded corners */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
  padding: 10px; /* Add padding inside the container */
  background-color: var(--m-dark); /* Optional: Set background color */
}

/* Style individual list items */
.custom-list {
  padding: 10px;
  border-bottom: 1px solid var(--border-d); /* Optional: Add a divider between items */
  font-size: 16px;
  display: flex;
  background-color: var(--m-dark);
  color: var(--text-l);
}

.color-adder {
  background-color: var(--d-dark);
}

.content-list li:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.selected-list-item {
  background-color: var(--primary-color);
  color: var(--text-l);
  font-weight: 600;
}

/* Button List for ItemList.js */

.button-dark {
  /* min-width: 100px; */
  background-color: var(--l-dark);
  color: var(--text-l);
  border-color: var(--border-m);
}

.button-dark:disabled {
  background-color: var(--m-dark);
  color: var(--text-m);
  border-color: var(--border-d);
}

.button-dark:hover {
  background-color: var(--m-dark) !important;
  color: var(--text-l) !important;
  border-color: var(--border-l) !important;
  transform: scale(1.05); /* Add a slight zoom effect */
}
.button-dark:disabled:hover {
  background-color: var(--m-dark) !important;
  color: var(--text-m) !important;
  border-color: var(--border-d) !important;
  transform: scale(1.05); /* Add a slight zoom effect */
}
